.holder {
  background-color: white;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container {
  background-color: #52057b;
  height: 100%;
  border-radius: 20px;
  box-shadow: #3a3838 5px 7px;
}

.headerBar {
  text-align: center;
  background: #52057b;
  color: white;
}
form {
  text-align: center;
}
.translations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.audio-react-recorder canvas {
  height: 100% !important;
  width: 100% !important;
}
.inputs {
  color: white;
  padding-bottom: 5px;
}
.card-text {
  min-height: 100px;
}
.card {
  border: #312f2f 1px !important;
  border-radius: 5px !important;
  box-shadow: #3a3838 2px 2px;
}
.card-header {
  background-color: #312f2f !important;
  color: white;
  text-align: center;
}
.card-body {
  color: black;
}
.translations .card-body {
  font-size: medium;
}
