.holder {
  background-color: black;
  display: flex;

  padding-top: 20px;
  padding-bottom: 20px;
}
.container {
  background-color: #cc9c2c;
  height: 100%;
}

.headerBar {
  text-align: center;
  background: #cc9c2c;
}
form {
  text-align: center;
}
.translations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
