.holder {
  background-color: white;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container {
  background-color: #52057b;
  height: 100%;
  border-radius: 20px;
  box-shadow: #3a3838 10% 10%;
}

.headerBar {
  text-align: center;
  background: #52057b;
  color: white;
}
form {
  text-align: center;
}
.translations {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 30px;
}
.audio-react-recorder canvas {
  height: 100% !important;
  width: 100% !important;
}
.inputs {
  color: white;
}
.our-Input {
  height: 20%;
}
.english-trans {
  height: 38%;
}

.eng-to-arab-trans {
  height: 38%;
}
.card {
  border: 1px !important;
  border-radius: 30px;
  box-shadow: #3a3838 10% 10%;
}
.card-header {
  background-color: #312f2f !important;
  color: white;
  text-align: center;
}
.card-body {
  color: black;
}
.translations .card-body {
  font-size: larger;
  line-height: 50px;
}
